<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>cgb1808</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>StudentAddServlet</display-name>
    <servlet-name>StudentAddServlet</servlet-name>
    <servlet-class>com.tedu.cgb.web.StudentAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentAddServlet</servlet-name>
    <url-pattern>/StudentAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentListServlet</display-name>
    <servlet-name>StudentListServlet</servlet-name>
    <servlet-class>com.tedu.cgb.web.StudentListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentListServlet</servlet-name>
    <url-pattern>/StudentListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentInfoServlet</display-name>
    <servlet-name>StudentInfoServlet</servlet-name>
    <servlet-class>com.tedu.cgb.web.StudentInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentInfoServlet</servlet-name>
    <url-pattern>/StudentInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentDeleteServlet</display-name>
    <servlet-name>StudentDeleteServlet</servlet-name>
    <servlet-class>com.tedu.cgb.web.StudentDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentDeleteServlet</servlet-name>
    <url-pattern>/StudentDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentUdpServlet</display-name>
    <servlet-name>StudentUdpServlet</servlet-name>
    <servlet-class>com.tedu.cgb.web.StudentUdpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentUdpServlet</servlet-name>
    <url-pattern>/StudentUdpServlet</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.tedu.user.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Regist</display-name>
    <servlet-name>Regist</servlet-name>
    <servlet-class>com.tedu.user.Regist</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Regist</servlet-name>
    <url-pattern>/Regist</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <description></description>
    <display-name>regist</display-name>
    <servlet-name>regist</servlet-name>
    <servlet-class>CGB1808.regist</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>regist</servlet-name>
    <url-pattern>/regist</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>product</display-name>
    <servlet-name>product</servlet-name>
    <servlet-class>CGB1808.product</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>product</servlet-name>
    <url-pattern>/product</url-pattern>
  </servlet-mapping>
</web-app>