<?xml version="1.0" encoding="UTF-8"?>
<server>
	<service>
		<connector port="8080" maxSize="100" protocol="HTTP/1.1"></connector>
		<webRoot>WebContent</webRoot>
		<!-- 配置notfoundpage标签 -->
		<notfoundpage>404.html</notfoundpage>
	</service>
	<!-- 配置响应多文件类型的文件
		ext  文件扩展名
		type  Content-Type值
	map(String,String){获取ext的值,获取type的值}
	 -->
	 <type-mappings>
	 	<type-mapping ext="html" type="text/html"></type-mapping>
	 	<type-mapping ext="jpg" type="image/jpeg"></type-mapping>
	 	<type-mapping ext="mp3" type="audio/mp3"></type-mapping>
	 	<type-mapping ext="gif" type="image/gif"></type-mapping>
	 </type-mappings>
</server>