body{min-width: 1000px;}
.head-area{height: 78px; border-bottom: 2px solid #e8e3dd; padding:0 20px; position: relative; z-index: 10; }
.head-inner{max-width: 1200px; margin: 0 auto; min-width: 960px; _width:960px;}
.nav-area{position: relative;}
.global-logo{margin: 0 20px 0 -10px; display: block; }
.head-nav{padding-top: 46px;}
.head-nav li {float: left; background: url(../img/menubg.jpg) no-repeat right 5px; line-height: 20px; text-align:center;}
.head-nav li.last{background: none;}
.head-nav a{padding:0 16px; font-size: 12px; display:inline-block; color: #8e6a55; }
.head-nav a:hover{color: #432818; text-decoration: none;}
.head-nav a.current{color: #432818;}

.login-mes a{color: #b59e90; padding: 0 10px;}
.shop-car{height: 20px; background: url(../img/c_shopcar.png) 0 0 no-repeat; margin-left: 10px; overflow: hidden;}
/*添加免单按钮*/

.free-order a{height: 20px; background: url(../img/c_freebutton.png) 0 0 no-repeat; margin-left: 10px; overflow: hidden;}
#free_tip{padding:10px;border: 1px solid #a7846a; background: #fff; box-shadow: 0 0 5px #a7846a;color: #8e6a55;position: absolute}
.login-mes .shop-car{padding-left: 26px;}

/*添加app下载*/
.app-download{position: relative;}
.pcAppEnterance{height: 204px;width: 282px;border: 1px solid #a7846a;position: absolute;z-index: 9999;top:22px;right: 6px}
.pcAppEnterance .app_title{width: 282px;background: #fff;}
.pcAppEnterance .app_title .title{margin:0 auto;height: 20px;font-size: 12px;color: #432818;width: 160px;text-align: center;line-height: 20px;padding: 13px 0px;}
.pcAppEnterance .title .logo{ background: url(../icon/app_download.png) 0 0 no-repeat;background-position: 0 0;width: 20px;height: 20px;float: left;margin:0px 6px 0px 18px}
.pcAppEnterance .title .logo:before{content: ""}
.pcAppEnterance .app_content{background: #f5f5f5;height: 118px;overflow: hidden;text-align: center;padding:20px;}
.left-title{float: left;margin-left: 15px}
.pcAppEnterance .app_content .left-title .download_item{padding: 6px 0px; width: 116px; height: 36px; line-height: 17px; border: 1px solid #a6a6a6; background: #fff; text-align: left;cursor: pointer}
.download_item .iphone{background: url(../icon/app_download.png) 0 0 no-repeat;width: 24px;height: 28px;background-position: -20px 0;font-size: 0;vertical-align:middle;display: inline-block;margin:0px 10px}
.download_item .android{background: url(../icon/app_download.png) 0 0 no-repeat;width: 24px;height: 28px;background-position: right 0;font-size: 0;vertical-align: middle;display: inline-block;margin:0px 10px}
.left-qc{float:left;width: 108px;display: inline-block}
.left-qc .qc{background: url(../icon/qc.png) 0 0 no-repeat;background-size: 108px 108px;width: 108px;height: 108px;display: block;vertical-align: middle}
.left-qc:after{content: ""}
.left-title p{text-align: center}
.download_item span{vertical-align: middle;display: inline-block;font-size: 16px;color: #000;text-align: left;font-weight: bold}
.pcAppEnterance .app_content .left-title .app-hover{background: #ebe1df}
.download_item span em{font-size: 12px;color: #a6a6a6;font-weight: normal}
.download_spec{line-height: 30px}
.add_margin{margin-top: 8px}


/* 页面中间的容器 */
.content-area{max-width: 1200px; min-height: 400px; padding:0 20px; _width: 960px; _margin: 0 auto;}

.footer-area{border-top: 1px solid #491903; color: #8e6a55; padding:10px 20px; line-height: 1.5; margin-top:20px;}
.footer-inner{max-width: 1200px; margin: 0 auto; min-width: 960px; _width:960px;}
.footer-area a{color: #8e6a55;}
.copyright{color: #c5b4a8;}
.foo-link a{padding: 0 6px; float: left; height: 16px;}
.foo-link .foo-line{float: left;}

.footer-area:after{display:block;content:"\20";height:0;clear:both;overflow:hidden;visibility:hidden;}
.footer-area{*zoom:1;}

.weibo,
.weixin{vertical-align: top; display: inline-block; height: 32px; margin-top: -6px;}

/* 微信微博入口 */
.weibo, .weixin{height: auto; position: relative;}
.third-enter-dia{display: none; position: absolute; z-index: 10; bottom:40px; left:-54px; background: url(../img/touming.png) repeat; padding: 4px; cursor: pointer;}
.be-block{display: block;}
.third-enter-dia-inner{display: block; background: #fff; padding: 10px;}
.third-enter-dia-inner img{display: block;}
.third-enter-dia-inner span{display: block; line-height: 1.5; text-align: center; padding-top: 6px; width:127px;}
.weixin:hover .third-enter-dia,
.weibo:hover .third-enter-dia{display: block;}
.weixin:hover,
.weibo:hover{text-decoration: none;}

/* 区域选择 */
.area-check{position: absolute; top: 16px; left: 210px; z-index:99999}
.area-now{width: 60px; height: 20px; line-height: 20px; background: url(../img/area_bg.jpg) 0 0 no-repeat; text-indent: 10px; color: #fff; cursor: pointer;}
.area-check-container{margin-top:4px; width: 252px; height: auto; border: 1px solid #a7846a; background: #fff; box-shadow: 0 0 5px #a7846a;}
.area-check-tip{color: #8e6a55; padding:10px 10px 6px 22px;}
.area-list{overflow: hidden; padding: 0 6px 6px 6px; zoom:1;}

.area-item{display: block; float: left; width: 60px; height: 24px; line-height: 24px; text-align: center; color: #8e6a55; cursor: default;}
.area-item:hover,
.ai-hover{background: #ebe1df; }



/* 这块对ie6、8的处理 */

/* 默认文字颜色 #604136 */
/* 附属文字、链接颜色 #8e6a55 */
/* 最弱文字颜色 #c5b4a8 */
/* 强调颜色 #432818 */

/* 要放入其他css里面的 */
.goods-table {
*position: relative;
}

/* 从这里开始复制 */
/* 排除reset引起的已有样式的细节变换 */
.spec-item .spec-attr a:hover{text-decoration: none;}

/* 首页调整 */
.indexgoods{text-align: center; width: auto; font-size: 0; _width:1000px;}
.indexgoods .title-banner{*float: none;  display: inline-block; *display: inline; zoom:1;}
.inpic-tab{min-width:0px;}
.indexgoods .title-banner .title{width: 100%; padding: 4px 0 0;}

.indexgoods .title-banner a:hover{background:#fff; text-decoration:none;}
/* 对网站整体宽度不对的调整 */
.page-container{min-width:960px; padding:0 20px; max-width: 1200px; _width:960px; margin:0 auto;}

.inner-wrap{max-width:none; overflow: hidden;}


/* 蛋糕种类索引 */
.filter-lists-container a:hover{text-decoration:none;}
.gallery-list a:hover{text-decoration:none;}
.goods-item .goods-name{max-height:46px; _height:auto;}
/* 产品详情页 */
.product-section{width:auto;}

/* 产品详情 */
.product-container{position: relative;}
.product-main{width:370px; position: absolute; top:0; right: 0; z-index: 10; margin:0 !important;}
.product-album-preview{padding:0;}
.product-album-pic{margin-left: 100px;}

.product-information{width: auto; float: none;}
.product-side{float: none;}

/* 产品详情文字介绍部分 */
.tags-hd{zoom:1;}
#product_section{*padding-top: 20px;}



/* 登录 注册 */
.signin{_left:0; padding-left:160px; }
.signupin-content .form-item{_margin-top: -2px;}

/* 加入购物车后 */
.cart-moregoods ul.goods-list{width: auto;}
.p-action{width: 60px;}
.mycartpage .steps{padding: 0;}
#cart_steps .step-1 span{padding-left: 0;}

.page-article{float: none; width: auto; overflow: hidden; *zoom:1; min-height:420px;}

.page-container .content-area{padding: 0;}

.payment-container .content {border: solid 1px #eee; padding-top: 20px;}
#paycenter_form img{margin: 20px auto 40px auto !important; display:block; }
.payment-container .msg-success{padding-left: 0; padding:40px 0; text-align: center;}

/* 个人中心修改 */
.page-aside{background: #fff;}
.member-menu-list li{height: 24px; padding: 0; margin: 0;}
/*.member-information .member-mod ul{margin-left: 60px;}*/
.member-changepass .signupin-content ul{margin: 0; padding: 32px 0 0 0;}
.member-address{margin-top: 0;}
.member-address-list tbody tr {border: 0 none;}
.member-address-list tbody td {border-top: 1px dotted #ddd;}
.member-address-submit{*zoom:1; background: #fff;}

@media \0screen\,screen\9 {
.indexgoods .title-banner{width: 250px;*float:none}
.indexgoods .banner img{margin-left: -25px;}
.inpic-tab,
.ind-banner{height:500px;}
.switchable-triggerBox {top: 460px;}
ul.slide-list li{height:500px;}
ul.slide-list li a{margin-left:-800px;}
ul.slide-list li a img{height:500px;}
.ind-banner #abc {width: 100% !important;}

/* 产品详情图 */
.product-album-pic{margin-left: 0;}

}
@media screen and (max-width: 1200px){
.inpic-tab,
.ind-banner{height:500px;}
.switchable-triggerBox {top: 460px;}
ul.slide-list li{height:500px;}
ul.slide-list li a{margin-left:-800px;}
ul.slide-list li a img{height:500px;}
.indexgoods .title-banner{width: 250px; *float: none;}
.indexgoods .banner img{margin-left: -25px;}
.ind-banner #abc {width: 100% !important;}

}
@media screen and (max-width: 1140px){
	.product-album-pic{margin-left: 0;}
}


/* 联系我们模块 */
.art-main .right{overflow: hidden; zoom:1; width: auto; float:none;}
.article-main .mod-content font{font-size: 12px !important;}

/* 加入购物车图标 */
.gallery-list .goods-item .action-addtocart{
	_background: url(../img/21cakelist_32.gif) no-repeat 26px 10px;
}
.gallery-list .goods-item .action-view{
	_background: url(../img/21cakelist_29.gif) no-repeat 26px 10px;
}
.gallery-list .goods-item .action-notify{
	_background:url(../img/21cakelist_29.gif) no-repeat 26px 10px;
}

.gallery-list .goods-item .goods-buy .action-view span,
.gallery-list .goods-item .goods-buy .action-view:hover span,
.gallery-list .goods-buy .btn-major span,
.gallery-list .goods-buy .btn-major:hover span,
.gallery-list .goods-buy .btn-caution span,
.gallery-list .goods-buy .btn-caution:hover span{_background: none; _border:none; color: #6e3311; }

.btn-major:hover span,
.btn-major span{text-decoration: none;}

.mini-cart-dialog .popup-content .icoimg{
	_background: url(../img/ico_img.gif) no-repeat 0 0;
}

/* 首页图片ie6 */
.switchable-triggerBox span {_background: url("../yuan-white.gif") no-repeat 0 0;}
.switchable-triggerBox span.active{_background: url("../yuan-black.gif") no-repeat 0 0;}

.main-slide .prev {_background:url('../left-but.gif') no-repeat 0 0;}
.main-slide .next {_background:url('../right-but.gif') no-repeat 0 0;}

/* 订单成功后的切换城市按钮 */
.pop-attention-main .btn span{vertical-align:top;}
.pop-attention-main .btn-simple{border: 1px solid #ccc; margin-left: 10px;}
.pop-attention-main .btn span{border: 0 none;}
.pop-attention-main .btn-caution{background:#432818; border:1px solid #432818;}

.pop-attention-main .btn-simple span,
.pop-attention-main .btn-simple:hover span{background:none;}
.pop-attention-main .btn span,
.pop-attention-main .btn:hover span{filter:none;}


/*情人节定制语样式*/
/*.valen_txt td{border-bottom: 1px solid #eee;height: 90px;padding-right: 20px;width: 100%;}
.valen_txt td .modify_custom{width: 100%;overflow: hidden;}
.valen_txt td .modify_custom p.modify_txt_p{width: 100%;padding:20px 0;}
.valen_txt td .modify_custom p.modify_txt_p span.modify_custom_txt{ border: 1px solid #d4c2b8;display: inline-block;margin-left: 45px;padding: 5px;width: 300px; cursor: pointer;}
.valen_txt td .modify_custom p.modify_txt_p .modify_custom_txt.J_choose{background: url("/themes/21cake/images/icon/modify_custom_bg.png") right bottom no-repeat;border: 1px solid #8c6a52;}
.valen_txt .valen_title{float: left;display: block;padding-left:30px;font-size: 14px;width: 100%;cursor: pointer;}
.valen_txt .valen_title.custom_open{background: url("/themes/21cake/images/icon/custom_open.png")  1160px center no-repeat;}
.valen_txt .valen_title.custom_close{background: url("/themes/21cake/images/icon/custom_close.png")  1160px center no-repeat;margin-top: 33px}
.valen_txt .valen_title img{vertical-align: middle;}
.valen_txt .valen_title em{padding-left: 10px;vertical-align: middle;}
.valen_txt td .modify_custom .valen_content{font-size: 13px;background-color: #fff;border: 1px solid #d4c2b8;color: #c5b4a8; display: inline-block;height: 110px;margin-left: 45px;resize: none;width: 300px;padding:5px;cursor: pointer;}
.valen_txt .valen_button{float:left;padding-left: 10px;}
.valen_txt .valen_button p{width: 20px;cursor: pointer;background: url("/themes/21cake/images/icon/valen_edit.png") 0 0 no-repeat;text-indent: -99999px;height: 22px;}
.valen_txt td .yulan{width:70px;height:30px;background-color:#432818;color:#fff;text-align:center;line-height:30px;margin: 0 0 0 45px;cursor:pointer; display: inline-block;vertical-align: bottom;}
.pop-attention-main .btn-simple.action-clear{height: 26px;cursor: pointer;}
.pop-attention-main .btn-simple{margin:0 15px;}*/

/*情人节定制语样式*/
.valen_txt td{border-bottom: 1px solid #eee;height: 90px}
.valen_txt .valen_title{padding-left:20px;font-size: 14px;background: url("/themes/21cake/images/icon/custom_close.png")  1160px center no-repeat;margin-top: 33px;cursor: pointer; }
.valen_txt .valen_title.active{background: url("/themes/21cake/images/icon/custom_open.png")  1160px center no-repeat;}
.valen_txt .valen_content{float: left;display: block;width: 300px;resize:none;color: #c5b4a8;background-color:#fff;border: 1px solid #d4c2b8;height: 110px}
.valen_txt .valen_button{float:left;padding-left: 10px;}
.valen_txt .valen_button p{width:70px;height:30px;background-color:#432818;color:#fff;text-align:center;line-height:30px;margin:94px 0 0 25px;cursor:pointer; display: inline-block;vertical-align: bottom;}
.pop-attention-main .btn-simple.action-clear{height: 26px;cursor: pointer;}
.pop-attention-main .btn-simple{margin:0 15px;}
.valen_txt .valen_title img{vertical-align: middle;}
.valen_txt .valen_title em{padding-left: 10px;vertical-align: middle;}
.valen_txt .custom_div{overflow:hidden;padding-left:35px;margin-bottom:20px;margin-top: 20px}
.valen_txt .hide{display: none}
.valen_txt .modify_ul {overflow: hidden;}
.valen_txt .modify_ul .modify_li{width: 300px;float: left;border: 1px solid #d4c2b8;margin-left: 35px;padding: 5px; cursor: pointer;margin-top: 20px}
.valen_txt .modify_ul .modify_li.active{background: url("/themes/21cake/images/icon/modify_custom_bg.png") right bottom no-repeat;border: 1px solid #8c6a52;}

/*完善个人信息得奖励*/
#j_header_logout{position: relative}
.complete_coupou{border: 1px solid #c7b299;color: #c7b299;padding: 4px;position: absolute;top: 23px;background: #fff;display: none}
.red_ico{background: url("/themes/21cake/images/icon/red_ico.png") right bottom no-repeat;background-size: 8px;position: absolute;top:0px;display: block;width:8px;height: 8px;right: 42px}

/*添加qq入口*/
.login-mes a#qqbrown{background: url("/wap_themes/21cake/images/qqbrown.png") no-repeat;width: 80px;height: 24px;background-position: 0 0;position: absolute;top:16px;right:0;padding: 0}
.login-mes a#qqbrown:hover{background: url("/wap_themes/21cake/images/qqbrown.png") no-repeat;width: 80px;height: 24px;background-position: 0 -24px;position: absolute;top:16px;right:0;padding: 0}
.login-mes a#qqbrown:active{background: url("/wap_themes/21cake/images/qqbrown.png") no-repeat;width: 80px;height: 24px;background-position: 0 -24px;position: absolute;top:16px;right:0;padding: 0}


/*优惠券转赠*/
.icon-dot {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
}
.coupon-tip i{
    display: inline-block;
    border: 6px solid #684029;
    border-color: transparent #684029 transparent transparent;
    opacity: 0.7;
    -webkit-opacity: 0.7;
    -moz-opacity: 0.7;
    -khtml-opacity: 0.7;
    filter: alpha(opacity=70);
    line-height: 0px;
    _border-color: #684029 #000000 #000000 #000000;
    _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
}
.coupon-tip span {
    background: rgba(104,64,41,0.70);
    box-shadow: 0px 2px 4px 0px rgba(198,198,198,0.50);
    border-radius: 2px;
    font-size: 12px;
    color: #FFFFFF;
    line-height: 30px;
    height: 30px;
    width: 100px;
    display: inline-block;
}