<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dessert.sys.dao.SysEmployeeDao">
	<resultMap id="sysEmployeeMap"
        type="com.dessert.sys.vo.SysEmployeeDeptResult">
        <!-- 关联查询 -->
        <association property="sysDept"
                   column="deptId"
                   select="com.dessert.sys.dao.SysDeptDao.findById">
        </association>
     </resultMap>
	
	<select id="findPageObjects" resultMap="sysEmployeeMap">
		 select * from employee
		<include refid="queryWhereId"></include>
		limit #{startIndex},#{pageSize}

	</select>
	<select id="getRowCount" resultType="int">
		select count(*) from employee
		<include refid="queryWhereId"></include>
	</select>
	<sql id="queryWhereId">
		<where>
			<if test="name!=null and name!=''">
				name like concat("%",#{name},"%")
			</if>
		</where>
	</sql>
	<insert id="insertObject" parameterType="com.dessert.sys.orders.entity.SysEmployee">
		insert into employee
		(username,password,salt,gender,name,age,role,phone,email,hiredate,adress,deptId)
		values
		(#{username},#{password},#{salt},#{gender},#{name},#{age},#{role},#{phone},#{email},now(),#{adress},#{deptId})
	</insert>
	<delete id="deleteObject" parameterType="int">
		delete from employee
		where id=#{id}
	</delete>
	<select id="findObjectById" resultMap="sysEmployeeMap">
		select * from employee
		where id=#{id}
	</select>
	<update id="updateObject">
		update employee
		set
		username=#{username},
		password=#{password},
		salt=#{salt},
		gender=#{gender},
		name=#{name},
		age=#{age},
		role=#{role},
		phone=#{phone},
		email=#{email},
		hiredate=#{hiredate},
		adress=#{adress},
		deptId=#{deptId}
		where id=#{id}
	</update>
	
	<select id="getEmployeeCountByDeptId"
            resultType="int">
         select count(*)
         from employee
         where deptId=#{deptId}        
    </select>
	<!-- 认证登录根据username查询员工信息 -->
	<select id="findEmployeeByUserName" resultType="com.dessert.sys.orders.entity.SysEmployee">
		select * from employee
		where username=#{username}
	</select>
</mapper>