<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pt.member.dao.MemberDao">
	<select id="findObjects" resultType="com.pt.member.entity.Member">
		select * from t_members
	</select>
	<update id="insertObject" parameterType="com.pt.member.entity.Member">
		insert into t_members(nickname,password,realname,gender,rank,
		email,mobile,safequestion,safeanswer,createdTime)
		values(#{nickname},#{password},#{realname},#{gender},#{rank},
		#{email},#{mobile},#{safequestion},#{safeanswer},#{createdTime})
	</update>
	<update id="updatePassword">
		update t_members
		set password=#{password}
		where id=#{id}
	</update>
	<delete id="deleteObject" parameterType="int">
		delete from t_members
		where id=#{id}
	</delete>
	<select id="findPageObjects" resultType="com.pt.member.entity.Member">
		select * from t_members
	</select>
</mapper>