<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>day11_homework</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>FirstServlet</servlet-name>
    <servlet-class>com.tedu.servlet.FirstServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstServlet</servlet-name>
    <url-pattern>/FirstServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SecondServlet</display-name>
    <servlet-name>SecondServlet</servlet-name>
    <servlet-class>com.tedu.servlet.SecondServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SecondServlet</servlet-name>
    <url-pattern>/SecondServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Third</display-name>
    <servlet-name>Third</servlet-name>
    <servlet-class>com.tedu.servlet.Third</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Third</servlet-name>
    <url-pattern>/Third</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestDemo1</display-name>
    <servlet-name>TestDemo1</servlet-name>
    <servlet-class>com.tedu.servlet.TestDemo1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestDemo1</servlet-name>
    <url-pattern>/TestDemo1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestDemo2</display-name>
    <servlet-name>TestDemo2</servlet-name>
    <servlet-class>com.tedu.servlet.TestDemo2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestDemo2</servlet-name>
    <url-pattern>/TestDemo2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HWS</display-name>
    <servlet-name>HWS</servlet-name>
    <servlet-class>com.tedu.servlet.HWS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HWS</servlet-name>
    <url-pattern>/HWS</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResponseDemo1</display-name>
    <servlet-name>ResponseDemo1</servlet-name>
    <servlet-class>com.tedu.servlet.ResponseDemo1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResponseDemo1</servlet-name>
    <url-pattern>/ResponseDemo1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResponseDemo2</display-name>
    <servlet-name>ResponseDemo2</servlet-name>
    <servlet-class>com.tedu.servlet.ResponseDemo2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResponseDemo2</servlet-name>
    <url-pattern>/ResponseDemo2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.tedu.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
</web-app>